**Dictionary**

In [ ]:
# Organization -> 300 employee

emp1 = {
    "name" : "Efti",
    "position" : "Soft Engineer",
    "Salary" : 10,
    "ID" : 52
}

emp2 = {
    "name" : "Ashfi",
    "position" : "CEO",
    "Salary" : 100,
    "ID" : 520
}

emp3 = {
    "name" : "Rakin",
    "position" : "Manager",
    "Salary" : 5,
    "ID" : 5200
}

In [ ]:
l = [emp1, emp2, emp3]

In [ ]:
l[0]

{'ID': 52, 'Salary': 10, 'name': 'Efti', 'position': 'Soft Engineer'}

In [ ]:
# One solution 
for emp in l:
  if emp["name"] == "Ashfi":
    print(emp)

{'name': 'Ashfi', 'position': 'CEO', 'Salary': 100, 'ID': 520}

In [ ]:
all_emp["Rakin"]

{'Salary': 5, 'name': 'Rakin', 'position': 'Manager'}

In [ ]:
# Another solution (more effective but has a problem)
all_emp = {
    "Efti" : emp1,
    "Ashfi" : emp2,
    "Rakin" : emp3,
}

In [ ]:
# Another solution (most effective)
all_emp = {
    52 : emp1,
    520 : emp2,
    5200 : emp3,
}

In [ ]:
# Another solution (most effective)
all_emp = {
    52 : emp1,
    520 : emp2,
    5200 : emp3,
}

In [ ]:
all_emp = {
    
    52 : {
      "name" : "Efti",
      "position" : "Soft Engineer",
      "Salary" : 10,
      "ID" : 52
    },

    520 : {
      "name" : "Ashfi",
      "position" : "CEO",
      "Salary" : 100,
      "ID" : 520
    },
    
    5200 : {
      "name" : "Rakin",
      "position" : "Manager",
      "Salary" : 5,
      "ID" : 5200
    }

}

In [ ]:
all_emp = {
    emp1["ID"] : emp1,
    emp2["ID"] : emp2,
    emp3["ID"] : emp3,
}

In [ ]:
all_emp[5200]

{'ID': 5200, 'Salary': 5, 'name': 'Rakin', 'position': 'Manager'}

In [ ]:
print(all_emp[5200])

{'name': 'Rakin', 'position': 'Manager', 'Salary': 5, 'ID': 5200}

In [ ]:
print(all_emp[5200]["name"])
print(all_emp[5200]["Salary"])

Rakin
5