# Class

In [ ]:
class Account:
  account_number = 0
  balance = 0.0

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.balance)
  
  def set_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.balance = balance

In [ ]:
a = Account()

In [ ]:
print(a.account_number, a.balance)

0 0.0

In [ ]:
a.show_data()

55  :  1000

In [ ]:
a.set_balance(1000)

In [ ]:
a.account_number = 55

# Access Modifiers: Public and Private

In [ ]:
class Account2:
  account_number = 0 # public attribute
  __balance = 0.0 # Private attribute

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.__balance)
  
  def add_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.__balance += balance

In [ ]:
a2 = Account2()

In [ ]:
a2.account_number = 55

In [ ]:
a2.show_data()

55  :  5000.0

In [ ]:
a2.add_balance(5000)

In [ ]:
a2.__balance = 1000

# Constructor -> Initialization kora

In [ ]:
a2 = Account2(5121252, 500)

TypeError: ignored

In [ ]:
class Account3:
  account_number = 0 # public attribute
  __balance = 0.0 # Private attribute

  def __init__(self, account_number, balance): # This is the constructor
    self.account_number = account_number
    self.__balance = balance

  def show_data(self):
    # account_number -> just checks the method parameters
    # self.account_number -> checks the class parameters
    print(self.account_number, " : ", self.__balance)
  
  def add_balance(self, balance):
    # self.balance -> class variable
    # balance -> method parameter
    self.__balance += balance

In [ ]:
a3 = Account3(55, 8000)

In [ ]:
a3.show_data()

55  :  8000

# Another class example

In [ ]:
class Shopping_Complex:

  def __init__(self, name, location, owner):
    self.name = name
    self.location = location
    self.owner = owner

  def set_shops(self, n):
    self.number_of_shops = n
  
  def open_or_close(self, day):
    if(day == "Sunday"):
      print("Closed!")
    else:
      print("Welcome. We are open!")
    
  def show_info(self):
    print("Name: ", self.name)
    print("Owner: ", self.owner)
    print("Location: ", self.location)
    print("Shops count:", self.number_of_shops)

In [ ]:
Sumya_sisters = Shopping_Complex("Sumya sisters Unlimited", "Mymanshing", "Sumya")

In [ ]:
Sumya_sisters.set_shops(10000)

In [ ]:
Sumya_sisters.open_or_close("Friday")

Welcome. We are open!

In [ ]:
Sumya_sisters.open_or_close("Sunday")

Closed!

In [ ]:
Sumya_sisters.show_info()

Name:  Sumya sisters Unlimited
Owner:  Sumya
Location:  Mymanshing
Shops count: 10000

**Object Attributes**

In [ ]:
Sumya_sisters.CEO = "Sakib"

In [ ]:
Sumya_sisters.CTO = "Mubina"

In [ ]:
class CEO:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def show_info(self):
    print("CEO Name:", self.name)
    print("CEO Age:", self.age)

In [ ]:
sakib = CEO("Sakib", 60)

In [ ]:
Sumya_sisters.CEO = sakib

In [ ]:
Sumya_sisters.CEO.show_info()

CEO Name: Sakib
CEO Age: 60

In [ ]:
Efti_bros = Shopping_Complex("Efti_bros", "Mymanshing", "Efti")

In [ ]:
Efti_bros.CEO

AttributeError: ignored

# **The Big Question: What are Class and Object??**



```
Class is logical entity but object is physical
-Price
```