Question 1

In [ ]:
#@title Question 1

i = int(input())
if (i >= 30): # v1: i == 10, v2 >= 15
    if (i < 15): 
        print ("1") 
    if (i < 12): 
        print ("2") 
    else: 
        print ("3") 

#1 : input = 12 output= no output 
#1 : input = 10 output= 1, 2
#28: input = 12 output= 1, 2
#045:input = 15 output= 3
#11: input = 10 output=1, 2
#12: input = 20 output= 3 
#30: input = 12 output=1, 3
#17: input = 20 output=1, 2
#021:input = 0 output=3

In [ ]:
#@title Question 2
i = int(input())
if (i < 10): 
    print ("1") 
if (i < 15): 
    print ("2") 
elif (i < 20): 
    print ("3") 
else: 
    print ("4") 
#05: input:5 , output: 1, 2
#06: input:60, output: 4
#08: input:-8, output: 1, 2 
#20: input:200, output: 4

#4 : input:15 , output: 3, 4
#7 : input: 20, output: 4
#26: input: 5, output: 1, 2, 3
#021: input: 100, output: 4

In [ ]:
#@title Question 3
l = ["I", "like", "viva"]  
for i in l:  
    print(i)

#38: I \n Like \n viva

In [ ]:
#@title Question 4
l = ["I like viva"]  
for i in l:  
    print(i)

#40: I \n like \n viva
#30: I \n like \n viva

In [ ]:
#@title Question 5
l = "I like viva"  
for i in l:  
    print(i)

In [ ]:
#@title Question 6
l = {
    1 : "This",
    2 : "is",
    3 : 'a',
    4 : "great news"
}

for i in l:  
    print(i)

#46: puro dictionary
#09: puro dictionary

In [ ]:
#@title Question 7
for letter in 'python':  
    if letter == 'y' or letter == 'o':  
        print("1")
    print(letter) 
    var = 10

#7: 1
#27: -------
#32: 1 1 5

In [ ]:
#@title Question 8
for letter in 'geeksforgeeks':  
    pass
print(letter)

#24: nothing
#38: -----
#12: letter
'''
int i=0
for (i=0; i<5; i++){
    
}
print(i)
'''

s

In [ ]:
#@title Question 9
a = 0
for i in range(1, 3):  
    a = a + i**2  
print(a) 

#25: 8

In [ ]:
#@title Question 10
a = 0
for i in range(1, 3):  
    a = i**2  
print(a) 

#33: 1**2, 2**2
#46: 4
#21: 8

In [ ]:
#@title Question 11
count = 0
while (count < 5): 
  count += 1
  print(count+1) 

#43: 11
#11: (0, 1 , 2 , 3 , 4)

In [ ]:
#@title Question 12
i = 0
a = 'python'
  
while i < len(a):  
  if a[i] == 't' or a[i] == 's':  
    i += 1
  print(a[i]) 
  i += 1

#4 : 1 \n 2
#17: error

In [ ]:
#@title Question 13
List = [ [ '1', '2' ] , [ ['3'], ['4'] ] ] 
print() # 

#33: List[2] -> '3'

In [ ]:
#@title Question 14
List = [1, 2, ['Python', 4, 'Java'], 6, 'C'] 
print() 
#43: List[2][0] -> Python
#44: List[4] ->'C'
#14: List[2][1]-> 4

In [ ]:
#@title Question 15
l = [1, 2, 3, 4]
l[1:3] = [10, 20, 30, 40]
print(l)

#045: [20, 30, 40]
#26 : [1, 2, 3, 4]

In [ ]:
#@title Question 16
l = [1, 2, 3, 4, 5, 6, 7]
l[1:3] = []
print(l)
#47: [2, 3]
#44: [2, 3, 4]
#40: [1, 4]
#32: [1, 4, 5, 6, 7]

In [ ]:
#@title Question 17
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 
Sliced_List = List[-6:-1] 
print(Sliced_List)

#45: 'P','Y','T','H','O'
#09: 'P','Y','T','H','O'

In [ ]:
#@title Question 18
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 

Sliced_List = List[::-1] 
print(Sliced_List)

#45: reverse full list without 'I'
#18: reverse full list

In [ ]:
#@title Question 19
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 
Sliced_List = List[ 5: :-1] 
print(Sliced_List)

#14: 'E',' ', 'P','Y','T','H','O','N' reverse

In [ ]:
#@title Question 20
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 
Sliced_List = List[ 5: 2 :-1] 
print(Sliced_List)

#28: -------
#25: 'I','K','E' reverse

In [ ]:
#@title Question 21
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 
Sliced_List = List[ len(List): 0 :-1] 
print(Sliced_List)

#21: reverse the whole list

In [ ]:
#@title Question 22
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 
Sliced_List = List[ 100: 0 :-1] 
print(Sliced_List)

#18: Reverse full list without 'I'

In [ ]:
#@title Question 23
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 
Sliced_List = List[ 5: 7 :-1] 
print(Sliced_List)

#47: 'E', 'K'

In [ ]:
#@title Question 24
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 
Sliced_List = List[ 0: 0 :0] 
print(Sliced_List)

#24: outputs whole list
#27: error

In [ ]:
#@title Question 25
List = ['I',' ', 'L','I','K','E',' ', 'P','Y','T','H','O','N'] 
Sliced_List = List[ :: ] 
print(Sliced_List)