**LOOP**

print: 0-9
JAVA code:
```
for(int i=0; i<10; i++) {
  System.out.println(i)
}

int i=0;
while (i<10) {
  System.out.println(i);
  i++;
}
```

In [ ]:
i = 0
while (i<10) :
  print(i)
  i = i + 1

1 + 2 + . . ..  + 10 = 55

In [ ]:
i=1
sum = 0
while i<11 :
  if(i == 10):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 1
print("=", sum)

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55



```
input:
start: 10
end: 20
output:
10 + 11 + ... + 20 = ?
```

In [ ]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 1
print("=", sum)

Start: 10
End: 20
10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 = 165



```
input:
start: 20
finish: 40
output:
20 + 22 + 24 + ... + 40 =?
```

In [ ]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if i%2 == 0:
    
    if(i == end_p):
      print(i, end=' ')
    else:
      print(i, "+" , end=' ')
    
    sum = sum + i

  i += 1
print("=", sum)

Start: 20
End: 40
20 + 22 + 24 + 26 + 28 + 30 + 32 + 34 + 36 + 38 + 40 = 330

In [ ]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
    
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
    
  sum = sum + i
  i += 2

print("=", sum)

Start: 20
End: 40
20 + 22 + 24 + 26 + 28 + 30 + 32 + 34 + 36 + 38 + 40 = 330

In [ ]:
start = int(input("Start: "))
end_p = int(input("End: "))

if start%2 == 1:
  start = start+1

if end_p%2 == 1:
  end_p = end_p - 1

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  
  sum = sum + i
  i += 2

print("=", sum)

Start: 9
End: 21
10 + 12 + 14 + 16 + 18 + 20 = 90

In [ ]:
start = int(input("Start: "))
end_p = int(input("End: "))

if start%2 == 1:
  start = start+1

if end_p%2 == 1:
  end_p = end_p - 1

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  
  sum = sum + i
  i += 2

print("=", sum)

Start: 9
End: 21
10 + 12 + 14 + 16 + 18 + 20 = 90

**Range**

In [ ]:
#l[start : end + 1: increment]



```
for(int i=0; i<10; i++) {
  System.out.println(i)
}
```

In [ ]:
l = list( range(0, 10, 1) )
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = list( range(10) )
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = list( range(5,10) )
l

[5, 6, 7, 8, 9]

In [ ]:
l = list( range(5,10, 2) )
l

[5, 7, 9]

**For**

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [10 , 2, "A", "B", 1010]

for i in l:
  print(i)

10
2
A
B
1010

In [ ]:
l = [10 , 2, "A", "B", 1010]

for i in range(1,4):
  print(l[i])

2
A
B

In [ ]:
l = l + [6]

[10, 2, 'A', 'B', 1010, 6]